.greenText {
    color: green;
}
.fields {
    font-size: 18px;
    line-height: 4vw;
    word-spacing: 2px;
    width:80%;
}

.headingStyle {
    text-align: center;
    font: oblique 23deg;
    color: blue;
    line-height: 7vw;
    word-spacing: 2px;
    font-size: 4vw;
    display:block;
    
  }

.Gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
}

.Labelstyle {
    align-self:center;
    align-content: center;
    text-align: right;
    font-family: Verdana;
    font-size: 18px;
}

.buttonstyle {
    grid-column: 1/3;
    align-self:flex-end;
    justify-self: center;
    font-family: fantasy;
    font-size: 18px;
    width:15%;
    font-weight: 700;
}

.SubmissionText {
    /* justify-self: center; */
    padding: 1em;
    grid-column: 1/3;
}